<h1>All Directors</h1>

<a href="/directors/new">
  Add a new director
</a>

<ul>
  <% @directors.each do |director| %>
   <div class="thumbnail">
    <img src="<%= director.image_url %>">

    <div class="caption">
      <a href="/directors/<%= director.id %>" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/directors/<%= director.id %>/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_director/<%= director.id %>" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <% end %>
</ul>