<h1>Add a new director</h1>

<form action="/create_director">
  <div>
    <label for="name_input">
      Name
    </label>

    <input id="name_input" type="text" name="name">
  </div>

  <div>
    <label for="bio_input">
      Bio
    </label>

    <input id="bio_input" type="text" name="bio">
  </div>
  
  <div>
    <label for="dob_input">
      DOB
    </label>

    <input id="dob_input" type="text" name="dob">
  </div>

  <div>
    <label for="image_url_input">
      Image Url
    </label>

    <input id="image_url_input" type="text" name="image_url">
  </div>

  <button>
    Create director
  </button>
</form>