<h1>All Movies</h1>

<a href="/movies/new">
  Add a new movie
</a>

<ul>
  <% @movies.each do |movie| %>
   <div class="thumbnail">
    <img src="<%= movie.image_url %>">

    <div class="caption">
      <a href="/movies/<%= movie.id %>" class="btn btn-default btn-block">
        Show details
      </a>

      <a href="/movies/<%= movie.id %>/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_movie/<%= movie.id %>" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <% end %>
</ul>