<h1>Add a new movie</h1>

<form action="/create_movie">
  <div>
    <label for="title_input">
      Title
    </label>

    <input id="title_input" type="text" name="title">
  </div>
  
  <div>
    <label for="year_input">
      Year
    </label>

    <input id="year_input" type="text" name="year">
  </div>

  <div>
    <label for="duration_input">
      Duration
    </label>

    <input id="duration_input" type="text" name="duration">
  </div>

  <div>
    <label for="description_input">
      Description
    </label>

    <input id="description_input" type="text" name="description">
  </div>

  <div>
    <label for="image_url_input">
      Image Url
    </label>

    <input id="image_url_input" type="text" name="image_url">
  </div>

  <button>
    Create Movie
  </button>
</form>